body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 26px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    color: white;
}

label{
    color: white;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

input:focus, select:focus {
    outline: none;
    border-color: #1e3c72;
    box-shadow: 0px 0px 5px rgba(30, 60, 114, 0.5);
}

input[type="submit"].botao {
    background-color: #2a5298;
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

input[type="submit"].botao:hover {
    background-color: #1e3c72;
}

.cadastrar{
    padding-left: 20px;
}
